<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export To CSV</title>
</head>
<body style="background-color: #92a9bd">
    <h1 style="text-align: center; color: #362222">Click the below link to download</h1>
    <div class="container" style=""
          padding: 20px;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          background-color: blanchedalmond;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        ">
        <a class = "nav-item" href="{% url 'export_csv' %}"><p style="text-align:center">Forms CSV File</p></a>
</body>
</html>